# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

service vendor.umd_camera_aidl /vendor/bin/hw/vendor.qti.hardware.umd-camera-service
    class hal
    user system
    group system wakelock uhid input
